.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px;
}

.navbar .logo img {
    width: 50px; 
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

#black{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
}
.produkt{
    border: 3px solid black;
    border-radius: 15px;
    padding: 0px;
}